html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.viewport{
  width:100%;
  height:100%;
  background-color:#ffc;
  overflow:hidden;  
  position:absolute;
}

#test{
  background-color:yellow;
  width:300px;
  height:200px;
  padding:5px
}

.draggable{
  position:absolute;
  left:100px;
  top:100px;
  width:250px;
  border:1px solid black;  
}

.header{
  cursor:move;
  background-color:gray;
  border-bottom:dotted black;
  padding:3px;  
}

.content{
  padding:10px;
}

#debug{
  width:400px;
  height:600px;
  background-color:#cfc;
  position:absolute;
  top:300px;
  z-index:5;
  overflow:scroll;
}

.p1{
 width:400px;
 background-color:#0f0;
}

.p2{
 height:200px;
 background-color:#f00;
}

.p3{
 height:250px;
  width:150px;
 background-color:#f0f;
}

.p4{
 height:180px;
  width:250px;
 background-color:#08f;
}
