html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fh{
  border:5px solid red !important;
}
.viewport{
  width:100%;
  height:100%;
  background-color:#ffc;
  overflow:hidden;  
  position:absolute;
}

.wnd{
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:250px;
  border:1px solid black;  
  background-color:white;
}
.header{
  cursor:move;
  background-color:gray;
  position:absolute;
  width:100%;
  height:20px;
}
