html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;
}
*{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sample-content {
  width:100%;
  height:100%;
  padding:10px;
}
/* DockContainer specific definitions */
.pane{
  width:400px;
  height:200px;
  left:300px;
  top:200px;
  position:absolute;
  padding-top:30px;
  overflow: hidden;
  white-space: nowrap;
  border:1px solid #888;  
  background-color:rgba(64,64,64,0.9);
}
.rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.header{
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  height: 20px;
  padding-left: 5px;
  color: red;
  background-color:rgba(100,100,100,0.01);
  -webkit-transition:background 0.3s;
  -moz-transition:background 0.3s;
  -o-transition:background 0.3s;
  transition:background 0.3s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.header:hover {
  background-color:rgba(200,130,000,0.3);
}
.title{
  font-family: Arial;
  font-size:14px;
  margin:0px;
  text-align:center;
  color:#ddd;
  width:100%;
  overflow:hidden;
  white-space: nowrap;
  margin: auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:15px;
}
/* End of DockContainer specific definitions */










.fh{
  border-color:orange !important;
}
.hilight_frame{
  border-color:yellow !important;
}
.viewport{
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background-color:#333;
  overflow:hidden;  
  position:absolute;
}
/* old
.wnd{
  position:absolute;
  left:100px;
  top:100px;
  width:400px;
  height:250px;
  border:1px solid #888;  
  background-color:rgba(64,64,64,0.9);
  padding:20px 1px 1px 1px;
  }
.header{
  cursor:move;
  background-color:rgba(100,100,100,0);
  width:100%;
  height:18px;
  position:absolute;
}
.content{
  width:100%;
  height:100%;
}
.active-header{
  background-color:rgba(100,100,100,0.5) !important;
}

.title{
  font-family: Arial;
  font-size:14px;
  margin:0px;
  text-align:center;
  color:#ddd;
  width:100%;
  overflow:hidden;
  white-space: nowrap;
}
*/

.dock-btn {
  position:absolute;
  left:100px;
  top:100px;
  width:32px;
  height:32px;
  z-index:999999;
  background-color:rgba(255,255,255,0.5);
}
.dock-btn-active {
  background-color:rgba(255,255,255,0.8);
}

